.bookmarkAlert {
    position: absolute;
    right: 0;
    top: 20px;
    color: #fff;
    background-color: #38425d;
    padding: 8px;
    border-radius: 3px;
    text-align: left;
    z-index: 1;
    min-width: 150px;
}

